@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

#heroID{
width: 100%;
}

#aboutID{
    
    width: 90%;
    /* color: #383838;
    color: #3a3735; */
    
    margin-top: 50px;
    }

#resumeID{
    font-size: 1em;
    margin-top: 15px;
    
}

#skilsID{
    background-color: #333333;
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    box-sizing: border-box;
}

#skilsContentID{
    padding-right: 100px;
    padding-left: 100px;
    width: 100%;
    text-align: center;
}

#progressId{
    background: #ffffff !important;
}

.progress{
    height: 250px;
}

#bar {
    height: 50px;
}

#bar .progress-bar{
    background-color: #acacac;
}

#labelId{
    background-color: #6e6e6e !important;
    color: #ffffff;
    font-size: 2em;
}

#skillsFocus{
    display: inline-block;
    align-self: center;
    text-align: center;
}

#skilsdivID{
    display: inline-block;
    align-self: center;
    text-align: center;
    justify-content: center;
}

#cardID{
    color: #ffffff;
    font-size: 2em;
    margin-top: 100px;
    width: 300px;
    height: 300px;
}

#footerID{
    background-color: black;
    margin-top: 100px;
    padding: 20px;
}

#PortfolioID{
    margin-left: 100px;
    margin-right: 100px;
}

#cardcenterID{
    position: relative;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    
}